.header {
  background-image: url("../image/main/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 800px;
  padding: 50px 0 0 0;
  overflow: hidden;
  &__box {
    display: flex;
    align-items: center;
  }
}
.logo {
  margin-right: auto;
  z-index: 44;
}
.menu {
  color: $light-color;
  z-index: 44;
  position: relative;
  &__list {
    display: flex;
    list-style: none;
  }
  &__item {
    margin-right: 23px;
  }
  &__btn {
    position: relative;
    top: 0;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
  }
  &__burger {
    display: block;
    width: 100%;
    height: 3px;
    background-color: $light-color;
    margin-bottom: 8px;
    padding: 0;
  }
  &__burger:last-child {
    margin-bottom: 0;
  }
}

.contact__box {
  display: flex;
  align-items: center;
}
.cart {
  color: $light-color;
  z-index: 44;
  &__link {
    border-right: 1px solid $light-color;
    height: 51px;
  }
  &__link svg {
    stroke: $light-color;
    fill: transparent;
    width: 13px;
    height: 13px;
    margin-right: 21px;
  }
}
.phone {
  color: $light-color;
  margin: 0 20px 0 34px;
  z-index: 44;
  &__link {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: block;
  }
  &__number {
    margin-left: 8px;
    margin-right: 45px;
  }
  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    max-width: 154px;
  }
}

@media (max-width: 925px) {
  .menu {
    margin-left: 0;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    position: absolute;
    transform: translateY(-150%);
    &__btn {
      display: block;
    }
    &__list {
      display: block;
      color: $light-color;
    }
    &__item {
      display: block;
      padding: 20px;
    }
  }
  .contact__box {
    display: none;
  }
}
