.history {
  background-color: $bg-color;
  position: relative;
  &__box {
    @include flex-c-jcsb;
    padding: 0 0 122px;
  }
  &__content {
    max-width: 444px;
  }
  &__title {
    text-align: center;
    margin-bottom: 21px;
  }
  &__text {
    @include os-400;
    font-size: 16px;
    line-height: 22px;
    color: $grey-25-color;
    text-align: center;
    margin-bottom: 39px;
  }
  &__descr-list {
    @include flex-jcse;
    text-align: center;
  }
  &__descr-item {
    @include flex-col;
    font-size: 20px;
    line-height: 27px;
    color: $black-color;
  }
  &__descr-item span {
    font-size: 40px;
    line-height: 54px;
    color: $accent-color;
  }
  &__image {
    object-fit: cover;
  }
}
.benefits {
  &__list {
    @include flex-jcsb;
    list-style: none;
    position: relative;
    top: -100px;
  }
  &__item:not(:last-child) {
    margin-right: 31px;
  }
  &__card {
    background-color: $light-color;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    height: 100%;
    text-align: center;
    padding: 48px 30px 20px 30px;
  }
  &__card svg {
    fill: $accent-color;
    margin-bottom: 4px;
  }
  &__title {
    @include tinos-400;
    font-size: 26px;
    line-height: 30px;
    color: $dark-grey-color;
    margin-bottom: 20px;
  }
  &__text {
    @include tinos-400;
    font-size: 26px;
    line-height: 30px;
    color: $accent-color;
  }
  &__descr {
    @include tinos-400;
    font-size: 26px;
    line-height: 30px;
    color: $grey-25-color;
  }
}
@media (max-width: 850px) {
  .history__box {
    display: block;
    width: 100%;
    text-align: center;
  }
  .history__content {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 750px) {
  .benefits {
    &__list {
      display: block;
      left: 50%;
      transform: translateX(-50%);
    }
    &__item {
      width: 100%;
      margin-bottom: 30px;
    }
    &__item:last-child {
      margin-bottom: 0;
    }
    &__card {
      max-width: 100%;
    }
  }
  .history__content {
    margin-top: 30px;
  }
}
@media (max-width: 605px) {
  .benefits__descr {
    font-size: 22px;
  }
  .history__title {
    font-size: 40px;
    line-height: 47px;
  }
  .accent__title {
    font-size: inherit;
    line-height: inherit;
  }
  .history__descr-list {
    display: block;
  }
}
